<nav class="navbar-dark bg-light mt-5">
  <div class = "container">
    <div class = "row">             

        <div class = "col-lg-2"  style = "padding-top: 20px">

            <h5>Links</h5>

            <ul>

                <li><a href="#">Home</a></li>

                <li><a href="#">About</a></li>

                <li><a href="#">Menu</a></li>

                <li><a href="#">Contact</a></li>

            </ul>

        </div>

        <div class = "col-lg-6" style = "padding-top: 20px">

            <h5>Our Address</h5>

            <address>

          214, King Street West<br>

           Downtown, Toronto<br>

          ONTARIO<br>

          Tel.: +416 1234 5678<br>

          Fax: +416 8765 4321<br>

          Email: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>

       </address>

      </div>

      <div class = "col-lg-4" style="padding-top: 20px;">
          <ul class="social-icon">
            <li>
                <a class="nav-item nav-link" href="http://google.com/+" target="_blank">
                  <i class="fa fa-google-plus-square"></i>
                </a>
            </li>
            <li>
                <a class="nav-item nav-link" href="http://www.facebook.com/profile.php?id=">
                <i class = "fa fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a class="nav-item nav-link" href="http://www.linkedin.com/in/">
                  <i class = "fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a class="nav-item nav-link" href="http://twitter.com/">
                  <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a class="nav-item nav-link" href="http://youtube.com/">
                  <i class = "fa fa-youtube-square"></i>
                </a>
            </li>
            <li>
                <a class="nav-item nav-link" href="mailto:">
                  <i class = "fa fa-envelope"></i>
                </a>
              </li>
          </ul>

      </div>
    </div>

    <div class = "row">

        <p style="padding:10px;"></p>

        <p class = "mx-auto">© Copyright 2015 Ristorante Il Fornello</p>
    </div>
  </div>
</nav>