<nav class="navbar navbar-dark bg-primary mb-5 navbar-default">
  <div class="navbar-expand mr-auto container">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">
        <i class = "fa fa-home"></i>Home</a>
      <a class="nav-item nav-link" href="#">
        <i class="fa fa-info-circle"></i>About
      </a>
      <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>   
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
</nav>